<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" monitorInterval="5">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5level %logger >>> %msg %n" />
		</Console>
		<RollingFile name="AllLogFile"
					 fileName="d:/logs/hlife/all.log"
					 filePattern="d:/logs/hlife/$${date:yyyy-MM}/all-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout charset="UTF-8"
						   pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5level %logger >>> %msg %n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
		
	</Appenders>
	<Loggers>
		<logger name="com.partner.hlife" level="debug" additivity="true">
			<AppenderRef ref="AllLogFile" />
		</logger>
		<Root level="info">
			<AppenderRef ref="Console" />
			<!--AppenderRef ref="AllLogFile" /-->
		</Root>
	</Loggers>
</Configuration>